@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');


/* Swanky Chocole Color Scheme */
:root {
    --white: hsla(50, 50%, 98%, 1);
    --black: hsla(50, 50%, 2%, 1);

    --grey-100: hsla(50, 50%, 90%, 1);
    --grey-200: hsla(50, 35%, 80%, 1);
    --grey-300: hsla(50, 18%, 70%, 1);
    --grey-400: hsla(50, 8%, 45%, 1);
    --grey-500: hsla(50, 7%, 35%, 1);
    --grey-900: hsla(30, 60%, 8%, 1);

    --home-bg: hsla(28, 20%, 20%, 1);
    --header-bg: var(--grey-900);
    --about-bg: var(--white);
    --portfolio-bg: var(--white);
    --contact-bg: var(--home-bg);

    --title-color: hsla(326, 87%, 53%, 1);
    --accent-1: hsla(6, 93%, 71%, 1);
    --accent-2: hsla(190, 70%, 70%, 1);
    --accent-3: hsla(145, 96%, 68%, 1);
    --accent-4: hsla(45, 100%, 51%, 1);
    --accent-1-alt: hsla(15, 72%, 70%, 1);
    --accent-2-alt: hsla(190, 45%, 80%, 1);
    --accent-3-alt: hsla(145, 80%, 80%, 1);
    --accent-4-alt: hsla(45, 80%, 80%, 1);

    --navbar-height: 59px;
}

/* Playground */

/* Global */

body {
    color: var(--black);
    background: var(--white);
    font-family: 'Source Sans Pro', sans-serif;
}

.btn.btn-primary:not(:disabled):not(.disabled):focus {
    box-shadow: 0 0 0 2px var(--accent-2);
    /* box-shadow: 0 0 0 0; */
}

.btn.btn-primary:not(:disabled):not(.disabled):active {
    background: var(--accent-2);
    box-shadow: 0 0 0 2px var(--accent-2);
    /* box-shadow: 0 0 0 0; */
    /* transition: none; */
}

.card {
    background: var(--white);
    color: var(--black);
    border-radius: 0;
    border-color: var(--black);
}

.card-img-top {
    border-bottom: solid var(--grey-200) 1px;
}

.rotate-icon {
    transition: transform 0.5s;
}

[data-toggle="collapse"][aria-expanded="true"] .rotate-icon {
    transform: rotate(-180deg);
}

/* Colors for <button> and <a> :selection and :focus */

/* a:not(:disabled):not(.disabled):focus { */
    /* box-shadow: 0 0 0 5px var(--accent-2); */

/* } */

/* a:not(:disabled):not(.disabled):active { */
    /* background: var(--accent-2); */
    /* box-shadow: 0 0 0 5px var(--accent-2); */
/* } */

/* Header */

.nav-container {
    border-bottom: 3px solid var(--accent-2);
    background: var(--grey-900);

    top: 0px;
    transition: top 1s;
}

.squeeze-out {
    /* FIXME navbar height */
    top: -59px
}

.navbar-dark .navbar-brand {
    color: var(--white);
    transition: color .5s ease;
}

.navbar-dark .navbar-nav .nav-link {
    transition: color .5s ease;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-brand:hover
{
    color: var(--accent-1);
}

/* Sections Generic */

.underline-bar {
    height: 5px;
    width: 120px;
    background: var(--black);
}

/* Home Section  */

.home {
    background: transparent;
    color: var(--white);
    min-height: 100vh;
}

.home .canvas-container {
    background: var(--home-bg);
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.home .canvas {
    z-index: -1;
    margin: 0;
    padding: 0;
    border: 0;
}

.my-name {
    color: var(--title-color);
}

/* About Section */

.about {
    background: var(--about-bg);
}

.portrait-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}

.portrait {
    width: 130%;
    transform: translate(-15%);
}

/* Portfolio Section */

.portfolio {
    background: var(--portfolio-bg);
}

.portfolio a {
    color: var(--black);
}

.portfolio a i:hover {
    color: var(--accent-1);
}

#skill-accordian {
    border-top: solid var(--black) 1px;
}

/* Contact Section */

.contact {
    color: var(--white);
    background: var(--contact-bg);
    border-radius: 0;
}

.contact .underline-bar {
    height: 5px;
    width: 120px;
    background: var(--white);
}

.contact input, .contact input:focus, .contact textarea, .contact textarea:focus {
    color: var(--white);
    border-radius: 0;
    border: 0;
    background: var(--grey-900);
}

.contact ::placeholder {
    color: var(--grey-400);
}

.contact input:focus,
.contact textarea:focus
{
    box-shadow: 0 0 0 2px var(--accent-2);
}

.contact button {
    color: var(--white);
}

.remaining {
    position: absolute;
    z-index: 5;
    right: 0.5em;
    bottom: 0.5em;
    color: grey;
}

/* Footer */

.footer {
    background: var(--header-bg);
    color: var(--white);
}

.footer a {
    color: var(--white);
}


.top-button {
    background: var(--accent-1);
    height: 50px;
    width: 50px;
    left: calc(50% - 25px);
    top: -25px;
}

/* Components */

.text-accent {
    color: var(--accent-1);
}

.garbage-btn {
    background-color: Transparent;
    border-radius: 0px;
    border: 2px solid var(--white);
}

.garbage-btn:hover {
    background-color: var(--accent-1);
    border-color: var(--accent-1);
    transition-duration: 0.5s;
}

.garbage-btn .rotate-90-animation {
    transition: transform .5s ease-in-out
}

.garbage-btn:hover .rotate-90-animation {
    transition-duration: 0.5s;
    transform: rotate(90deg);
}

